body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "Segoe WP", Segoe, device-segoe, Tahoma, Helvetica, Arial, sans-serif;
    font-size: 12pt;
}
div.label {
    color: #2b2b2b;
    font-family: "Segoe UI", "Segoe WP", Segoe, device-segoe, Tahoma, Helvetica, Arial, sans-serif;
    font-size: 12pt;
    padding: 9px 0 8px 0;
}
.left {float:left;}
.clear {clear:both; float:none !important;display:block;overflow:hidden;visibility:hidden;width:0px;height:0px;}
.void {display:none;}

#toolbar {
    margin-bottom: 8px;
}
#toolbar > div {
    float: left;
    margin-right: 8px;
}
#info-bar-list-wrapper {
    white-space: nowrap;
    width: 100%;
    margin-top: 24px;
}
#info-bar-list-wrapper .info-bar {
    width: 190px;
    display: inline-block;
    padding: 0 0 4px 0;
    color: #fff;
    margin-right: 8px;
    cursor: pointer;
    text-align: center;
}
#info-bar-list {
    overflow-x:auto;
}
#info-bar-list-wrapper .info-bar .container {
    padding: 3px 6px;
}
#info-bar-list-wrapper .info-bar .handle {
    height: 4px;
}
#info-bar-list-wrapper .info-bar.sel .handle {
    background-color: #FFC128;
}
.info-bar.color0 {
    background: #333;
}
.info-bar.color1 {
    background: #3C1E4C;
}
.info-bar.color2 {
    background: #654A74;
}
.info-bar.color3 {
    background: #AD876B;
}
.info-bar.color4 {
    background: #ADAD6B;
}
.info-bar .desc {
    font-size: 15px;
    font-weight: bold;
    line-height: 19px;
    overflow: hidden;
}
#info-bar-list.wrap .info-bar .desc {
    line-height: 34px;
}
.info-bar .amt1, .info-bar .amt2 {
    font-size: 12px;
}
#parameter-container {
    margin-top: 24px;
    margin-bottom: 12px;
}
#parameter-container .box {
    float: left;
}
#parameter-container .box .name {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}
#parameter-container .box .value {
    font-size: 25px;
    line-height: 32px;
}
#parameter-container.container3 .box {
    width: 33.3%;
}
#parameter-container.container4 .box {
    width: 25%;
}
#parameter-container.container5 .box {
    width: 20%;
}
#chart-container {
    display: none;
}
#left-chart {
    float: left;
    width: 50%;
    height: 350px;
}
#right-chart {
    float: right;
    width: 50%;
    height: 350px;
}
#action-btn-container {
    margin-top: 16px;
    margin-bottom: 24px;
    text-align: center;
}
#dynamic-btn-container {
    margin-top: 16px;
    margin-bottom: 24px;
    text-align: center;
}
#dynamic-btn-container > div {
    margin: 0 8px;
}
#date-part-selector {
    color: #a8a8a8;
    font-size: 11px;
    width: 100%;
    margin-top: 36px;
}
#date-part-selector div.buttons {
    position: relative;
}
#date-part-selector div.scale {
    position: absolute;
    left: 0;
    right: 0;
    top: -8px;
    height: 2px;
    background-color: #e6e6e6;
}
#date-part-selector div.range {
    position: absolute;
    left: 0;
    right: 0;
    top: -9px;
    height: 4px;
    background-color: #606060;
}
#date-part-selector div.list div.button {
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
}
#date-part-selector div.list div.button div.marker {
    position: absolute;
    top: -16px;
    border-right: 1px solid #e6e6e6;
    left: 0;
    right: 0;
}
#date-part-selector div.list div.button:first-child div.marker {
    border-left: 1px solid #e6e6e6;
}
#date-part-selector:after, #date-part-selector div.list:after {
    content: "";
    clear: both;
    display: block;
    width: 0;
    height: 0;
}
#date-part-selector div.switch {
    float: right;
    border: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;
}
#date-part-selector div.switch:hover {
    border: 1px solid #a8a8a8;
}
#date-part-selector div.buttons {
    margin-right: 16px;
}
/* doctype fixes */
.dx-button-content, .dx-button-content::after, .dx-texteditor-input, .dx-texteditor-container, .dx-dropdowneditor-input-wrapper {
    height: auto !important;
}
/* scroll for too long popup lists */
.dx-context-menu .dx-menu-items-container { 
  height: 350px;
  overflow-y: scroll;
}